SECRET_KEY=troque-por-uma-chave-aleatoria-longa
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=gere-com-generate_password_hash
VIEWER_USERNAME=leitor
VIEWER_PASSWORD_HASH=gere-com-generate_password_hash
SESSION_COOKIE_SECURE=0
